.container{
    display: flex;
    flex: 1;
}

.sidbars{
    background-color: #F5F6FA;

    width: 20%;
    height: 100vh;
    
}

.tables{
    margin-top:5rem;
    margin-left: 2rem;

}
.forms{
    margin-top:5rem;
    margin-left: 20px;

}

.textfield{
    width: 100px;
}

